.hero {
  width: 100%;
  min-height: 389px;
  margin-top: -35px;

  background-image:
    url("../../img/text-sedona-index.svg"),
    url("../../img/bg-intro-triangle-mobile.svg"),
    url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center, center bottom, center 0;
  background-size: 282px, cover, auto;
}
