.hero {
  width: 100%;
  min-height: 389px;
  margin-bottom: 40px;

  background-image:
    url("../img/text-sedona-index.svg"),
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top 51%, center bottom, center;
  background-size: 282px, cover, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@2x.jpg");
  }
}

.inner-page .hero {
  min-height: 158px;
  margin-bottom: 38px;

  background-image:
    url("../img/text-sedona.svg"),
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top 43%, center bottom, center bottom;
  background-size: 229px, cover, auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/text-sedona.svg"),
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@2x.jpg");

    background-size: 229px, cover, 768px;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    min-height: 518px;
    margin-bottom: 50px;

    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top 46%, center bottom, center top;
    background-size: auto, contain, 768px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/text-sedona-index.svg"),
        url("../img/bg-intro-triangle-tablet.svg"),
        url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .inner-page .hero {
    min-height: 290px;
    margin-bottom: 75px;

    background-image:
      url("../img/text-sedona.svg"),
      url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top 44.5%, center bottom, center bottom;
    background-size: 458px, auto, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/text-sedona.svg"),
        url("../img/bg-intro-triangle-tablet.svg"),
        url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .hero {
    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top 46%, center bottom, center;
    background-size: 460px, auto, 1200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/text-sedona-index.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .inner-page .hero {
    min-height: 301px;
    margin-bottom: 112px;

    background-image:
      url("../img/text-sedona.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-position: center top 46%, center bottom, center bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/text-sedona.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@2x.jpg");
    }
  }
}
