.page-footer {
  padding: 40px 0 23px;
  text-align: center;
}

.page-footer__hashtag {
  margin-bottom: 40px;
}

.page-footer__hashtag-text {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: $black;
}

.page-footer__social {
  margin-bottom: 40px;
}
