.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__logo-wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;

  width: 102px;
  min-height: 56px;
  margin: 0 auto;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  top: 0;

  transform: translateX(-50%);

  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
  }

  .page-header__logo-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 102px;
    padding: 0;
  }

  .page-header__logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    width: 100%;

    img {
      width: 100%;
    }
  }
}


@media (min-width: $desktop-width) {
  .page-header__logo-wrapper {
    width: 188px;
  }
}
