.page-footer {
  padding: 40px 0 23px;
  text-align: center;
}

.page-footer__hashtag {
  margin-bottom: 40px;
}

.page-footer__hashtag-text {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: $black;
}

.page-footer__social {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 648px;
  }

  .page-footer__hashtag {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer .container {
    width: 960px;
  }
}
