.photo__intro {
  padding: 0 5px;
  text-align: center;
}

.photo__list {
  @include reset-list;
}

.photo__list .container {
  width: auto;
}

.photo__item {
  padding: 22px 0;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.photo__item-wrapper {
  width: 280px;
  margin: 0 auto;
}

.photo__link {
  display: flex;
  margin-bottom: 22px;
}

.photo__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.photo__author {
  margin: 0;
  margin-bottom: 5px;

  line-height: 24px;

  text-transform: none;
}

.photo__likes {
  position: relative;

  padding-left: 38px;
  margin: 0;

  line-height: 24px;
  font-weight: 700;

  color: $black;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 23px;
    height: 21px;

    background-image: url("../img/icon-like.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .photo__intro {
    width: 450px;
    margin: 0 auto 60px;
  }

  .photo__list .container {
    display: flex;
    flex-wrap: wrap;

    width: 648px;
    margin: 0 auto;
  }

  .photo__item {
    width: 50%;
    padding: 0;
    border: none;

    &:first-child {
      width: 100%;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .photo__item-wrapper {
    width: auto;
  }

  .photo__link {
    margin-bottom: 0;
  }

  .photo__item-info {
    position: relative;

    padding: 20px;
    background-color: #f2f2f2;
  }

  .photo__likes {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: $desktop-width) {
  .photo__list .container {
    width: auto;
  }

  .photo__item {
    width: 33.33%;
  }
}
