.reasons__intro {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  text-align: center;
}

.reasons__slogan {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  color: $black;
}

.reasons__list {
  padding: 0;
  margin: 0;

  text-align: center;
  list-style: none;
}
