.reason {
  color: $dark;
  background-color: $lightgray;
}

.reason--usual {
  padding: 0 20px;
}

.reason--usual .container {
  padding: 27px 15px;

  border-bottom: 1px solid #d6d6d6;
}

.reason:last-child .container {
  border-bottom: none;
}

.reason--detail {
  padding-top: 60px;
  padding-bottom: 94%;
  color: $white;
  background-color: $bluegray;
}

.reason--real-town {
  padding-top: 77px;

  background-image:
    url("../img/bg-triangle.svg"),
    url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  background-size: 100%, 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/bg-triangle.svg"),
      url("../img/main-city-mobile@2x.jpg");
  }
}

.reason--devil-bridge {
  padding-top: 39px;
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/main-bridge-mobile@2x.jpg");
  }
}

.reason__title {
  margin: 0;
  margin-bottom: 9px;

  font-size: 18px;
  line-height: 26px;

  color: $black;
}

.reason--detail .reason__title {
  color: $white;
}

.reason__number {
  margin: 0;
  margin-bottom: 15px;
}

.reason__details {
  margin: 0;
}

.reason__subitem {
  padding-right: 20px;
  padding-left: 70px;
  margin: 30px auto;
  text-align: left;

  background-repeat: no-repeat;
  background-position: 20px 0;
}

.reason__subitem--house {
  background-image: url("../img/icon-house.svg");
  background-size: 39px auto;
}

.reason__subitem--souvenirs {
  background-image: url("../img/icon-gift.svg");
  background-size: 32px auto;
  background-position: 25px 0;
}

.reason__subitem--food {
  margin-bottom: 35px;

  background-image: url("../img/icon-burger.svg");
  background-size: 40px auto;
}

.reason__subitem-title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 26px;

  color: $black;
}

.reason__subitem-details {
  margin: 0;
}

.reason__subitem-details br {
  display: none;
}

@media (min-width: $tablet-width) {
  .reason--detail {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 256px;
    padding: 0;
  }

  .reason--usual {
    width: 33.33%;
    padding: 0;
  }

  .reason--detail .container {
    padding: 0 45px;
  }

  .reason--devil-bridge .container {
    padding: 0 33px;
  }

  .reason--usual .container {
    width: auto;
    padding: 45px 40px;
    border: none;
  }

  .reason--real-town {
    order: 1;

    padding-right: 66.7%;

    background-image: url("../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 66.7%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-city-tablet@2x.jpg");
    }
  }

  .reason--devil-bridge {
    order: 5;

    padding-left: 66.7%;

    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 66.7%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bridge-tablet@2x.jpg");
    }
  }

  .reason__subitem {
    width: 33.33%;
    padding: 159px 45px 0;
    margin-top: 0;
    margin-bottom: 61px;

    text-align: center;

    background-position: center top 60px;
  }

  .reason__subitem--house {
    order: 2;

    background-size: 75px 72px;
  }

  .reason__subitem--souvenirs {
    order: 4;

    background-size: 77px 72px;
  }

  .reason__subitem--food {
    order: 3;
    background-size: 75px 72px;
  }

  .reason__title {
    padding: 0 20px;

    font-size: 21px;
  }

  .reason__number {
    margin-bottom: 22px;
  }

  .reason__subitem-title {
    margin-bottom: 21px;

    font-size: 21px;
  }

  .reason--usual:nth-last-of-type(3) {
    order: 6;
  }

  .reason--usual:nth-last-of-type(2) {
    order: 7;
  }

  .reason--usual:nth-last-of-type(1) {
    order: 8;
  }


  .reason__subitem-details br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .reason--real-town {
    background-image: url("../img/main-city-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-city-desktop@2x.jpg");
    }
  }

  .reason--devil-bridge {
    background-image: url("../img/main-bridge-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bridge-desktop@2x.jpg");
    }
  }

  .reason__subitem {
    margin-bottom: 82px;
  }


  .reason__title {
    padding: 0 81px;
  }

  .reason__details {
    padding: 0 10px;
  }

  .reason--devil-bridge .reason__details {
    padding: 0 50px;
  }

  .reason__subitem-details {
    padding: 0 10px;
  }

  .reason--usual .container {
    padding-bottom: 65px;
  }
}
