.reason {
  color: $dark;
  background-color: $lightgray;
}

.reason--usual .container {
  width: 280px;
  padding: 30px 15px;
  border-bottom: 1px solid #d6d6d6;
}

.reason:last-child .container {
  border-bottom: none;
}

.reason--detail {
  padding-top: 60px;
  padding-bottom: 280px;
  color: $white;
  background-color: $bluegray;
}

.reason--real-town {
  background-image:
    url("../img/bg-triangle.svg"),
    url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top, center bottom;
}

.reason--devil-bridge {
  padding-top: 30px;
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.reason__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;

  color: $black;
}

.reason--detail .reason__title {
  color: $white;
}

.reason__details {
  margin: 0;
}

.reason__subitem {
  width: 280px;
  padding-left: 50px;
  margin: 26px auto;
  text-align: left;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.reason__subitem--house {
  background-image: url("../img/icon-house.svg");
  background-size: 39px;
}

.reason__subitem--souvenirs {
  background-image: url("../img/icon-gift.svg");
  background-size: 32px;
}

.reason__subitem--food {
  background-image: url("../img/icon-burger.svg");
  background-size: 40px;
}

.reason__subitem-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 26px;

  color: $black;
}

.reason__subitem-details {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .reason--detail {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 256px;
    padding: 0;
  }

  .reason--usual {
    width: 33.33%;
  }

  .reason--detail .container {
    width: auto;
    padding: 0 20px;
  }

  .reason--usual .container {
    width: auto;
    padding: 30px 40px;
    border: none;
  }

  .reason--real-town {
    padding-right: 67%;

    background-image: url("../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 67%;
  }

  .reason--devil-bridge {
    padding-left: 67%;

    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 67%;
  }

  .reason__subitem {
    width: 33.33%;
    padding: 164px 45px 0;

    text-align: center;

    background-position: center top 60px;
  }

  .reason__subitem--house {
    background-size: 75px 72px;
  }

  .reason__subitem--souvenirs {
    background-size: 77px 72px;
  }

  .reason__subitem--food {
    background-size: 64px 72px;
  }

  .reason__title {
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .reason--real-town {
    background-image: url("../img/main-city-desktop@1x.jpg");
  }

  .reason--devil-bridge {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
  }
}
