.reasons__intro {
  width: 320px;
  padding: 0 22px;
  margin: 0 auto;

  text-align: center;
}

.reasons__slogan {
  margin: 0;
  margin-bottom: 27px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  color: $black;
}

.reasons__description {
  margin: 0;
  margin-bottom: 5px;

  line-height: 26px;
}

.reasons__list {

  padding: 0;
  margin: 0;

  text-align: center;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .reasons__intro {
    width: auto;
    padding: 0 140px;
    margin-bottom: 50px;

    line-height: 26px;
  }

  .reasons__slogan {
    margin-bottom: 28px;

    font-size: 21px;
  }

  .reasons__description {
    margin: 0;
  }

  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .reasons__intro {
    max-width: 775px;
  }
}
