.review {
  margin-bottom: 43px;
}

.review__intro-wrapper {
  width: 280px;
  margin: 0 auto;
}

.review__info {
  margin: 0;
  margin-bottom: 15px;

  line-height: 24px;
  text-align: center;
}

.review__fieldset {
  padding: 17px 0 25px;
  margin: 0;
  border: none;
  border-top: 1px solid #e5e5e5;

  &--contacts {
    padding-bottom: 15px;
  }

  &--impressions {
    padding-bottom: 27px;
  }

  &--emotions {
    margin-bottom: 18px;
  }
}

.review__fieldset-wrapper,
.review__button-wrapper {

  padding: 0 20px;
  margin: 0 auto;
}

.review__legend {
  width: 100%;
  margin: 0;
  margin-bottom: 22px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  color: $black;

  br {
    display: none;
  }

  &--attraction {
    margin-bottom: 16px;
  }

  &--emotions {
    margin-bottom: 18px;
  }
}

.review__input-group {
  position: relative;

  margin: 0;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.review__fieldset--contacts .review__input-group {
  margin-bottom: 13px;
}

.review__fieldset--fio .review__input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__fieldset--impressions .review__input-group {

  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }
}

.review__fieldset--attraction .review__input-group {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.review__label {
  position: relative;

  margin-right: 15px;
  flex-shrink: 0;

  line-height: 26px;
  user-select: none;
  cursor: pointer;
}

.review__fieldset--contacts .review__label {
  display: block;
  padding-left: 20px;
  padding-bottom: 6px;
  margin-right: 0;
}

.review__fieldset--impressions .review__label,
.review__fieldset--attraction .review__label {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;

  color: $black;
}

.review__input--text {
  /* remove inline style for inputs in browsers */
  appearance: none;

  flex-grow: 1;

  width: 100%;
  height: 58px;
  padding: 11px 17px 12px;

  font: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  border-radius: 0;
  box-shadow: none;

  &::placeholder {
    color: $black;
  }

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:focus,
  &:active {
    background-color: #ffffff;
    border-color: #e5e5e5;
    outline: none;
  }
}

.review__fieldset--contacts .review__input--text {
  padding-right: 63px;
}

.review__input-icon {
  position: absolute;
  right: 0;
  bottom: 0;


  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;

  &--phone {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }
}

.review__input--radio + label,
.review__input--checkbox + label {
  padding-left: 79px;
}

.review__input--radio + label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 56px;
  height: 56px;

  background-color: #f2f2f2;
  border-radius: 50%;
}

.review__input--radio:checked + label::after {
  content: "";

  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  width: 21px;
  height: 21px;

  background-color: $dark;
  border-radius: 50%;
}

.review__input--radio:hover + label::before {
  background-color: #e5e5e5;
}

.review__input--radio:focus + label::before {
  box-shadow: 0 0 0 3px darken(#e5e5e5, 10%);
}

.review__input--radio:active + label::before {
  background-color: #d5d5d5;
}

.review__input--radio:active + label::after {
  opacity: 0.3;
}

.review__input--checkbox + label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 56px;
  height: 56px;

  background-color: #f2f2f2;
  border-radius: 5px;
}

.review__input--checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  width: 22px;
  height: 22px;

  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.review__input--checkbox:hover + label::before {
  background-color: #e5e5e5;
}

.review__input--checkbox:focus + label::before {
  box-shadow: 0 0 0 3px darken(#e5e5e5, 10%);
}

.review__input--checkbox:active + label::before {
  background-color: #d5d5d5;
}

.review__input--checkbox:active + label::after {
  opacity: 0.3;
}

.review__textarea {
  /* remove inline style for inputs in browsers */
  appearance: none;

  width: 100%;
  height: 160px;
  padding: 12px 16px;

  font: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  color: $black;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  border-radius: 0;
  resize: vertical;

  &::placeholder {
    color: $black;
  }

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:focus {
    outline: 0;
    background-color: $white;
  }
}

.review__notes {
  display: none;
}

@media (min-width: $tablet-width) {
  .review {
    margin-bottom: 67px;
  }

  .review__intro-wrapper {
    width: 648px;
    margin-bottom: 74px;
  }

  .review__info {
    padding: 0 85px;
    margin-bottom: 0;
  }

  .review__form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 648px;
    margin: 0 auto;
  }

  .review__fieldset {
    flex-basis: 100%;

    padding: 0;
    margin-bottom: 20px;

    border: none;

    &--impressions,
    &--fio {
      flex-basis: 50%;

      .review__legend {
        text-align: left;
      }
    }

    &--impressions {
      position: relative;

      order: -1;

      margin-bottom: 70px;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        top: 5px;

        width: 1px;
        height: calc(100% - 5px);

        background-color: #dbdbdb;
      }
    }

    &--contacts {
      margin-bottom: 29px;
    }

    &--attraction {
      margin-bottom: 38px;
    }

    &--emotions {
      margin-bottom: 50px;
    }
  }

  .review__fieldset-wrapper {
    width: auto;
    padding: 0;
  }

  .review__fieldset--fio .review__fieldset-wrapper {
    padding-left: 57px;
  }

  .review__legend {
    margin-bottom: 57px;

    font-size: 21px;

    br {
      display: block;
    }
  }

  .review__fieldset--contacts,
  .review__fieldset--attraction,
  .review__fieldset--emotions {
    .review__legend {
      position: relative;
      z-index: 2;

      display: flex;
      justify-content: center;

      margin-bottom: 25px;

      &--attraction {
        margin-bottom: 40px;
      }

      &--emotions {
        margin-bottom: 57px;
      }

      span {
        position: relative;

        min-width: 397px;
        padding: 0 60px;

        background-color: $white;
      }

      &::before {
        content: "";

        position: absolute;
        left: 0;
        top: 50%;

        flex-grow: 1;

        width: 100%;
        height: 1px;

        background-color: #dbdbdb;
      }
    }
  }

  .review__input-group-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    &--attraction {
      width: 460px;
      margin: 0 auto;

      .review__label {
        margin-right: 0;
      }
    }

    .review__input-group {
      width: 44%;
      margin-bottom: 30px;
    }
  }

  .review__fieldset--impressions .review__input-group {
    margin-bottom: 20px;
  }

  .review__fieldset--contacts .review__input-group {
    flex-basis: 100%;

    margin-bottom: 24px;
  }

  .review__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0;
  }

  .review__button {
    padding-left: 0;
  }

  .review__notes {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .review {
    margin-bottom: 72px;
  }

  .review__form-wrapper {
    width: 960px;
  }

  .review__intro-wrapper {
    margin-bottom: 59px;
  }

  .review__fieldset--impressions .review__legend {
    padding-left: 78px;
  }

  .review__fieldset--contacts .review__legend {
    margin-bottom: 72px;
  }

  .review__fieldset--fio .review__fieldset-wrapper {
    padding-left: 80px;
  }

  .review__fieldset--contacts .review__input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:first-child {
      flex-basis: 400px;
    }

    &:last-child {
      flex-basis: 480px;
    }
  }

  .review__fieldset--contacts .review__label {
    padding: 0;
    margin-right: 16px;
  }

  .review__label-nuance {
    display: none;
  }

  .review__input-group-wrapper--attraction {
    width: auto;
  }

  .review__input-group-wrapper .review__input-group {
    width: auto;
  }

  .review__fieldset--emotions {
    margin-bottom: 50px;
  }

  .review__input--radio + label::before {
    left: 3px;
  }

  .review__input--radio:checked + label::after {
    left: 20px;
  }

  .review__button {
    width: 480px;
  }
}
