.search {
  padding: 33px 0 49px;
  text-align: center;
}

.search__question {
  margin: 0;
  margin-bottom: 20px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: $black;
}

.search__info {
  margin: 0;
  margin-bottom: 35px;

  line-height: 24px;
}
